/* HomeHero.module.css */
.title {
  font-family: var(--font-inconsolata), monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 91;
  font-size: 4rem;
}